Repository openrewrite/rewrite-javascript, pull requests merged in 2023-11, with the labels that each got.

#59 Add license header recipe
  src/main/java/org/openrewrite/javascript/AddLicenseHeader.java
  src/test/java/org/openrewrite/javascript/recipe/AddLicenseHeaderTest.java
Labels: recipe

#79 Tuples
  src/main/java/org/openrewrite/javascript/JavaScriptIsoVisitor.java
  src/main/java/org/openrewrite/javascript/JavaScriptVisitor.java
  src/main/java/org/openrewrite/javascript/internal/JavaScriptPrinter.java
  src/main/java/org/openrewrite/javascript/internal/TypeScriptParserVisitor.java
  src/main/java/org/openrewrite/javascript/tree/JS.java
  src/main/java/org/openrewrite/javascript/tree/JsContainer.java
  src/main/java/org/openrewrite/javascript/tree/JsRightPadded.java
  src/main/java/org/openrewrite/javascript/tree/JsSpace.java
  src/test/java/org/openrewrite/javascript/tree/ArrayTest.java
  src/test/java/org/openrewrite/javascript/tree/TrailingCommaTest.java
  src/test/java/org/openrewrite/javascript/tree/TupleTest.java
Labels: enhancement

#93 Add `JS.Unary` to support `spread` operator
  src/main/java/org/openrewrite/javascript/JavaScriptVisitor.java
  src/main/java/org/openrewrite/javascript/internal/JavaScriptPrinter.java
  src/main/java/org/openrewrite/javascript/internal/TypeScriptParserVisitor.java
  src/main/java/org/openrewrite/javascript/tree/JS.java
  src/test/java/org/openrewrite/javascript/tree/TupleTest.java
  src/test/java/org/openrewrite/javascript/tree/UnaryTest.java
Labels: parser-javascript
