Repository openrewrite/rewrite-javascript, pull requests merged in 2025-02, with the labels that each got.

#205 Change model and printer to fix parse errors with ImportAttribute and MappedType
  openrewrite/src/javascript/parser.ts
  openrewrite/src/javascript/remote/receiver.ts
  openrewrite/src/javascript/tree/tree.ts
  openrewrite/src/javascript/visitor.ts
  openrewrite/test/javascript/parser/export.test.ts
  openrewrite/test/javascript/parser/mappedType.test.ts
  rewrite-javascript-remote/src/main/java/org/openrewrite/javascript/remote/JavaScriptValidator.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/internal/JavaScriptPrinter.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/tree/JS.java
Labels: parser-javascript, area-language

#206 Refactored JS.FunctionType to eliminate an arrow Space
  openrewrite/src/javascript/parser.ts
  openrewrite/src/javascript/remote/receiver.ts
  openrewrite/src/javascript/remote/sender.ts
  openrewrite/src/javascript/tree/support_types.ts
  openrewrite/src/javascript/tree/tree.ts
  openrewrite/src/javascript/visitor.ts
  openrewrite/test/javascript/parser/function.test.ts
  openrewrite/test/javascript/parser/variableDeclarations.test.ts
  rewrite-javascript-remote/src/main/java/org/openrewrite/javascript/remote/JavaScriptReceiver.java
  rewrite-javascript-remote/src/main/java/org/openrewrite/javascript/remote/JavaScriptSender.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/JavaScriptVisitor.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/internal/JavaScriptPrinter.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/tree/JS.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/tree/JsContainer.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/tree/JsLeftPadded.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/tree/JsRightPadded.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/tree/JsSpace.java
Labels: parser-javascript, area-language

#207 Fixed names in Location enum
  rewrite-javascript/src/main/java/org/openrewrite/javascript/JavaScriptVisitor.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/internal/JavaScriptPrinter.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/tree/JsContainer.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/tree/JsRightPadded.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/tree/JsSpace.java
Labels: parser-javascript, area-language

#210 Removed unnecessary ExpressionStatement wrapper for J.ForLoop.Control condition
  openrewrite/src/javascript/parser.ts
Labels: bug, parser-javascript

#208 Implemented TypeScript printer
  openrewrite/jest.config.js
  openrewrite/src/java/tree/support_types.ts
  openrewrite/src/javascript/index.ts
  openrewrite/src/javascript/printer.ts
  openrewrite/src/javascript/tree/support_types.ts
  openrewrite/test/javascript/parser/class.test.ts
  openrewrite/test/javascript/parser/for.test.ts
  openrewrite/test/javascript/testHarness.ts
  rewrite-javascript/src/main/java/org/openrewrite/javascript/JavaScriptVisitor.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/internal/JavaScriptPrinter.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/tree/JsLeftPadded.java
  rewrite-javascript/src/main/java/org/openrewrite/javascript/tree/JsSpace.java
Labels: parser-javascript, area-language

#209 Prevent potential Java 21 issue
  rewrite-javascript/src/main/java/org/openrewrite/javascript/cleanup/UseCaseFallThrough.java
Labels: bug

#211 Prevent wrapping statements into JS.ExpressionStatement
  openrewrite/src/javascript/parser.ts
  openrewrite/src/javascript/parserUtils.ts
  openrewrite/test/javascript/parser/function.test.ts
  openrewrite/test/javascript/parser/void.test.ts
  rewrite-javascript/src/main/java/org/openrewrite/javascript/JavaScriptVisitor.java
Labels: bug, parser-javascript, area-language
